* {
	margin: 0px;
	padding: 0px;
}
html,body{
	width: 100%;
	height: 100%;
}
body{
	background: url(../../img/base/qizuo-backgroudimg.png);
}

header{
	height: 40%;
}

footer{
	height: 50%;
}

#seo{
	height: 10%;
}

#seo input{
	width: 30%;
	margin: 0px auto;
	display: none;
}

#fo_tag{
	width: 30%;
	text-align: center;
	margin: 0px auto;
}
